/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  /* --primary: #1aac83; */
  /* --primary: #ab21eb; */
  --error: #e7195a;

  --light-text: whitesmoke;
  --grey-text: #555;

  --medium-gray-background: #6b6b6b;


  --oracle-turquoise: #346b6d;
  --rhino-blue: #2a445e;
  --maroon: #58094f;
  --disco-red: #841e62;
}

body {
  /* background: #6b6b6b; */
  background: linear-gradient(#222222, #6b6b6b );
  margin: 0;
  font-family: "Poppins";
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  /* background: var(--maroon); */
  /* background: #841e62; */
  /* background: linear-gradient(0.25turn, #58094f, #841); */
  background: linear-gradient(0.25turn, #58094f, #841e62);
  color: whitesmoke;
}

header .container {
  max-width: 1400px;
  height: 150px; 
  margin: 0 auto;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: whitesmoke;
  text-decoration: none;
}

header h1 {
  font-size: 62px;
  font-weight: 400;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage/categories */
.home {
  padding: 0 80px;
}

.home-header {
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  padding: 30px 260px;
  height: 180px;
  margin-bottom: -50px;

}

.new-cat-button {
  transition: transform .5s;
}
.new-cat-button:hover {
  transform: scale(1.1)
}

.categories {
  display: flex;
  flex-wrap: wrap;
  color: whitesmoke;
}

.categories a {
  text-decoration: none;
}

.category-details {
  
  /* background: #535353; */
  background: #ffffffee;
  width: 250px;
  border-radius: 4px;
  border-width: 6px;
  margin: 20px;
  padding: 20px;
  position: relative;
  transition: transform .5s;
}

.category-details:hover {
  transform: scale(1.1);
}

.category-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.8em;
}

.category-details p {
  margin: 0;
  font-size: 0.9em;
  color:#555;
}

.category-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.category-form {
  /* max-width: 400px; */
  width: 400px;
  margin: 20px auto auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.categories-pagination {
  display: flex;
  justify-content: center;
}

/* cards list */
.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cards-pagination {
  display: flex;
  justify-content: center;
}

.card-details {
  background: #fff;
  width: 650px; 
  border-radius: 4px;
  margin: 10px;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  display: "flex";
}

.card-details span {
  position: absolute;
  top: 20px;
  /* right: 20px; */
  text-align: center;
  width: 80px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.card-form {
  width: 400px;
  margin: 20px auto auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

/* form */
label,
input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--disco-red);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

div.error,
span.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

/* .checkbox-wrapper {
  display: flex;
  justify-content: flex-start;
} */

/* navbar */
nav {
  display: flex;
  align-items: center;
}

nav a,
nav button {
  margin-left: 10px;
}

nav button {
  
  color: whitesmoke;
  background: #841e62;
  
  padding: 6px 10px;
  border: 2px solid;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

.title-button {
  transition: transform .5s;
}
.title-button:hover {
  transform: rotate(0.01turn);
}

/* auth forms */
form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

#test-button {
  background: var(--disco-red);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  width: 100px;
}

.delete-button {
  background: #f3aa20;
  border: 0;
  color: #841e62;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

.edit-button {
  background: darkslategray;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

a {
  text-decoration: none;
}

.test-prompt {
  background: #ffffffee;
  width: 700px;
  border-radius: 4px;
  border-width: 6px;
  margin: auto;
  padding: 20px;
}


/* test modal */
